*{
   margin: auto;
   box-sizing: border-box;
   margin-top: 10px;
}

#fruitsList {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

#fruitsList td, #fruitsList th {
  border: 1px solid #ddd;
  padding: 8px;
}

#fruitsList tr:nth-child(even){background-color: #f2f2f2;}

#fruitsList th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: gray;
  color: black;
  font-size: 13px;
}

input[name="home"]{
   font-size: 13px;
   margin-left: 830px;
   padding: 8.5px 40px 8.5px 40px;
   background-color: royalblue;
   border-radius: 4px;
   border: none;
   border-color: royalblue;
   color: white;
}

input[name="bill"]{
   font-size: 13px;
   margin-left: 40px;
   padding: 8.5px 40px 8.5px 40px;
   background-color: green;
   border-color: green;
   border-radius: 4px;
   border: none;
   color: white;
}